.authenticateContainer {
    position: absolute;
    display: flex;
    border: 1px solid white;
    border-radius: 0.3em;
    height: 48vh;
    width: 39.5vw; 
    top: 20%;
    left: 33%;

    z-index: 2;
}

.verticalLine {
    border-left: 1px solid white;
    height: 28vh;
    margin-left: 1vw;
    margin-top: 6vh;
}

.loginWithSentry {
    margin-top: 10vh;
    margin-left: 2vw;
}