  .headerContainer {
    position: relative;
    margin-top: 50vh;
    margin-left: 18vw;
    width: 40vw;
    color: white;
    font-size: 2.3em;
    z-index: 2;
  }

// ---- RESPONSIVE STYLING---- //

// Common mobile phones in portrait mode.
@media screen and (max-device-width: 480px) and (orientation:portrait) {
  .headerContainer {
    margin-left:5vw;
    width: 70vw;
    font-size: 1.7em;
  }
}

// Common mobile phones in landscape mode.
@media screen and (max-device-width: 850px) and (orientation:landscape) {
  .headerContainer {
    margin-left:5vw;
    width: 70vw;
    font-size: 1.7em;
  }
}

// Common tablet
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .headerContainer {
		margin-left:5vw;
		width: 70vw;
		font-size: 2em;
	}
}
