// Animated stars background
@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.backgroundContainer{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 	background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  z-index: 0;
}

.twinkling{
	width: 100%;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
    
  -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
}

// Common mobile phones in portrait mode.
@media screen and (max-device-width: 480px) and (orientation:portrait) {
	.introTextDiv {
		position: relative;
		margin-top:50vh;
		margin-left:5vw;
		width: 70vw;
		font-size: 1.7em;
		color: white;
		z-index: 2;
	}


  .navBar {
    position: relative;
    z-index: 2;
    border-bottom: 0.1vh solid grey;
    padding-top: 2vh;
    padding-bottom:2vh;
    padding-right: 3vw;
    display: flex;
    justify-content: right;
	}

  .logInLink {
    color: white;
    margin-right: 2vw;
    align-self: center;
    cursor: pointer;
    text-underline-offset: 0.5vh;
    font-size: 1em;

    // Animates an underline on hover.
    text-decoration: underline 0.07em rgba(0, 0, 0, 0);
    transition: text-decoration-color 400ms;
    &:hover {
        text-decoration-color: rgba(255, 255, 255, 1);
    }
  }
}

// Common mobile phones in landscape mode.
@media screen and (max-device-width: 850px) and (orientation:landscape) {
	.introTextDiv {
		position: relative;
		margin-top:50vh;
		margin-left:5vw;
		width: 70vw;
		font-size: 1.7em;
		color: white;
		z-index: 2;
	}

  .navBar {
    position: relative;
    z-index: 2;
    border-bottom: 0.1vh solid grey;
    padding-top: 2vh;
    padding-bottom:2vh;
    padding-right: 3vw;
    display: flex;
    justify-content: right;
	}

  .logInLink {
    color: white;
    margin-right: 2vw;
    align-self: center;
    cursor: pointer;
    text-underline-offset: 0.5vh;
    font-size: 1em;
    
    // Animates an underline on hover.
    text-decoration: underline 0.07em rgba(0, 0, 0, 0);
    transition: text-decoration-color 400ms;
    &:hover {
        text-decoration-color: rgba(255, 255, 255, 1);
    }
  }
}

// Common tablet
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .introTextDiv {
		position: relative;
		margin-top:50vh;
		margin-left:5vw;
		width: 70vw;
		font-size: 2em;
		color: white;
		z-index: 2;
	}

  .navBar {
    position: relative;
    z-index: 2;
    border-bottom: 0.1vh solid grey;
    padding-top: 2vh;
    padding-bottom:2vh;
    padding-right: 3vw;
    display: flex;
    justify-content: right;
	}

  .logInLink {
    color: white;
    margin-right: 2vw;
    align-self: center;
    cursor: pointer;
    text-underline-offset: 0.5vh;
    font-size: 1em;
    
    // Animates an underline on hover.
    text-decoration: underline 0.07em rgba(0, 0, 0, 0);
    transition: text-decoration-color 400ms;
    &:hover {
        text-decoration-color: rgba(255, 255, 255, 1);
    }
  }
}

// Common web
@media screen and (min-width:1000px) {
  .introTextDiv {
    position: relative;
    margin-top: 50vh;
    margin-left: 18vw;
    width: 40vw;
    color: white;
    font-size: 2.3em;
    z-index: 2;
  }

  .navBar {
    position: relative;
    z-index: 2;
    border-bottom: 0.1vh solid grey;
    padding-top: 2vh;
    padding-bottom:2vh;
    padding-right: 3vw;
    display: flex;
    justify-content: right;
	}

  .logInLink {
    color: white;
    margin-right: 2vw;
    align-self: center;
    cursor: pointer;
    text-underline-offset: 0.5vh;

    // Animates an underline on hover.
    text-decoration: underline 0.07em rgba(0, 0, 0, 0);
    transition: text-decoration-color 400ms;
    &:hover {
        text-decoration-color: rgba(255, 255, 255, 1);
    }
  }
}
