.navBar {
  position: relative;
  z-index: 2;
  border-bottom: 0.1vh solid grey;
  padding-top: 2vh;
  padding-bottom:2vh;
  padding-right: 3vw;
  display: flex;
  justify-content: right;

  &_logInLink {
    color: white;
    margin-right: 2vw;
    align-self: center;
    cursor: pointer;
    text-underline-offset: 0.5vh;
  
    // Animates an underline on hover.
    text-decoration: underline 0.07em rgba(0, 0, 0, 0);
    transition: text-decoration-color 400ms;
    &:hover {
        text-decoration-color: rgba(255, 255, 255, 1);
    }
  }
}
